@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rubik+Scribble&display=swap');


/*----------------------------------newIndex Styling CSS SAKETH----------------------------------------*/
.brewedwith{
    text-align: center;
    padding-top: 4rem;
    /* padding: 0; */
    margin: 0;
    color:white
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
    margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.flex-wrapper {
	display: flex;
	padding:1em;
}

.threecards{
    background-image: url("https://i.pinimg.com/236x/52/ff/40/52ff401df7f40fac0478f3dba0dace93.jpg");
    background-attachment: fixed;
    margin: 0%;
    padding: 0%;
    margin-bottom: 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
	background-color: white;
	flex: 1;
    height: 38em;
	margin-right: 1em;
	position: relative;
	overflow: hidden;
    border-radius: 20px;
	box-shadow: 0 3px 15px -5px rgba(0,0,0,.3);
}

.card .img1 {
	display: block;
    /* <!-----------CHANGE IMAGE FILE SOURCE PATH HERE---------> */
	background-image: url("D:/Yash/GWOC/Resources/diversemenu.jpeg");
    /* <!--END OF PATH CHANGE--> */
    background-size: cover;
	width: 100%;
    height: 25em;
	background-position: 50%;
}

.card .img2 {
	display: block;
    /* <!-----------CHANGE IMAGE FILE SOURCE PATH HERE---------> */
	background-image: url("D:/Yash/GWOC/Resources/open mic.jpg");
    /* <!--END OF PATH CHANGE--> */
    background-size: cover;
	width: 100%;
    height: 25em;
	background-position: 50%;
}

.card .img3 {
	display: block;
    /* <!-----------CHANGE IMAGE FILE SOURCE PATH HERE---------> */
	background-image: url("https://previews-te.wetransfer.net/file/wetransfer/j1oc/skstfb7w9kk2baamp20231206065843/s2mscrrkfiol4wo3i20231224061127?width=512&height=512&source=spaceship&origin=collect-free&s=fbd057e00df20c28ae0156ff6b141700ecd676c9&Expires=1704738450&Signature=YuTnXYu7Ts2LtVr6V4id67o~QNq5lDkwAGb6Vzojvze~TE3i3U7E3jEVEZ7FW77qzt2deAT90C94TazppR~5A~VtX128keGAkB~4AbVNbLaCYuHFMgVOVKWxfz7cNdLk9oESNqIX2eIlYLXSDpGItLZ3MNL3KgmRMpjhb~eZSl01bJ6KiSLWletyRN3FXJshkJKQWay4UXgOWKDv6Xgkp-iY~MGJWP~FOG9ifdBYx~L~F3PzzljO5GDg-wlk7ep1p1iuwyQGJzOWYzGmO7SIdwJv5KWg76cvR4ZIvSaHZCQsF-LdNAYic4WTYwVJ0e-bPNHcDOl1dYo2OzWB57WAgQ__&Key-Pair-Id=APKAIRLQFERKGUWFG7GQ");
    /* <!--END OF PATH CHANGE--> */
    background-size: cover;
	width: 100%;
    height: 25em;
	background-position: 50%;
}

.remove-margin {
	margin: 0;
}

.card-content {
	position: absolute;
	background-color: #F2EAD3;
	width:100%;
    height: 100%;
    font-size: 25px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
	bottom: 0;
	overflow: hidden;
	top: 32rem;
	transition: top .35s ease;
}

.card-content h2
{
    margin: 1rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.card-content p {
	margin: 1rem;
    text-align: center;
    font-size: 20px;
}

.card-content h2 {
    font-size: 3.5rem; 
    font-weight: bold;
    color: #3F2305;
    letter-spacing: 1px;
    margin: 1rem;
    line-height: 1.5;
  }

.card:hover .card-content {
	overflow: visible;
	top: 0;
}

.card .fade {
	width: 100%;
	height: 2em;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
	position: absolute;
	bottom: 0;
	transition: opacity .35s ease;
}

.card:hover .fade {
	opacity: 0;
}

.read-more{
	color: #3F2305;
	text-decoration:underline;
}


/**
*** MEDIA QUERIES
**/

@media screen and (max-width:745px) {
	.flex-wrapper {
		flex-direction: column;
		padding: 2rem;
	}
	.card {
		margin: 0 0 1rem 0;
	}
	
	.card .img{
		width:10rem;
		height:6rem;
		float:left;
	}
	
	.card-content{
		float:right;
		position:static;
		width: calc(100% - 10rem);
	}
	
	.card-content p, .fade{
		display:none;
	}
	
}

@media screen and (max-width:480px){
	.card .img{
		float:none;
		width:100%;
		height: 12rem;
	}
	.card-content{
		float:none;
		width:100%;
	}
}
/*END OF CARDS*/



.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    border-color: black;
    border-width: 3px;
    text-decoration: none;
  }


  


.content {
  text-align: center;
  color: white;
}

.roasting
{
    margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background: url("D:/Yash/GWOC/Resources/coffee_roast_blur.jpg") center/cover no-repeat;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}



  .imggal{
    display: grid;
    place-items: center; 
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    /* <!-----------CHANGE THE FILE SOURCE PATH HERE---------> */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLS-13CxhjiZFn65ThEaDC6O0pkC6jtnRvGu5F78exx91fVxZ7hpp43drCv2jt4QhC7lM&usqp=CAU");
    /* <!--END OF PATH CHANGE--> */
    font-family: 'Salsa', cursive;
    color: white;
    text-align: center;
    
}
  .results{
    padding: 0%;
    margin: 0%;
  }
  ul {
    display: flex;
    width: calc(80% - 2rem);
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  li {
    padding: 0;
  }
  
  img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
  }
  
  ul:is(:hover, :focus-within) img {
    opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
    filter: grayscale(calc(1 - var(--active-lerp, 0)));
  }
  
  :root {
    --lerp-0: 1;
    --lerp-1: 0.5787037;
    --lerp-2: 0.2962963;
    --lerp-3: 0.125;
    --lerp-4: 0.037037;
    --lerp-5: 0.0046296;
    --lerp-6: 0;
  }
  
  a {
    outline-offset: 4px;
  }
  
  .results > li {
    flex: calc(0.1 + (var(--active-lerp, 0) * 1));
    transition: flex 0.2s ease;
  }
  
  .results > li:is(:hover, :focus-within) {
    --active-lerp: var(--lerp-0);
    z-index: 7;
  }
  .results > li:has( + li:is(:hover, :focus-within)),
  .results > li:is(:hover, :focus-within) + li {
    --active-lerp: var(--lerp-1);
    z-index: 6;
  }
  .results > li:has( + li + li:is(:hover, :focus-within)),
  .results > li:is(:hover, :focus-within) + li + li {
    --active-lerp: var(--lerp-2);
    z-index: 5;
  }
  .results > li:has( + li + li + li:is(:hover, :focus-within)),
  .results > li:is(:hover, :focus-within) + li + li + li {
    --active-lerp: var(--lerp-3);
    z-index: 4;
  }
  .results > li:has( + li + li + li + li:is(:hover, :focus-within)),
  .results > li:is(:hover, :focus-within) + li + li + li + li {
    --active-lerp: var(--lerp-4);
    z-index: 3;
  }
  .results > li:has( + li + li + li + li + li:is(:hover, :focus-within)),
  .results > li:is(:hover, :focus-within) + li + li + li + li + li {
    --active-lerp: var(--lerp-5);
    z-index: 2;
  }
  .results > li:has( + li + li + li + li + li + li:is(:hover, :focus-within)),
  .results > li:is(:hover, :focus-within) + li + li + li + li + li + li {
    --active-lerp: var(--lerp-6);
    z-index: 1;
  }
  
/*END OF SCROLL IMAGE STYLING*/


/*-----------------------------------------end of newindex styling saketh---------------------------------*/


.touch > p > i
{
    text-decoration: none;
}

.contentpara
{
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

.content
{
    font-family: 'Playfair Display', serif;
}

